* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.centratura {
    width: 70%;
    margin: 0 auto;
}

 .clearfix:after {
    content: '';
    display: table;
    clear: both;
 }

.button {
    font-size: 14px;
    background-color: white;
    padding: 7px 16px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    border-radius: 50px; 
} 
/* header */
header {
    height: 700px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
} 

/* nav */

nav {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 50px;
}

nav img { 
    display: inline-block;  
    line-height: 30px;
    vertical-align: middle;
}

#menu {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.accedi {
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateY(-50%);  
}
/* /nav */

/* jumbotron */
#jumbotron {
    height: 70%;
    width: 60%;
    margin: 200px auto;
    text-align: center;
    color: white;
}

#jumbotron h2 {
    font-size: 55px;
    font-weight: 800;
}

#jumbotron span {
    display: block;
    margin: 40px 0 50px;
    font-size: 20px; 
    font-weight: bold;
    line-height: 1.6;
}

#jumbotron a {
    padding: 20px 25px;
    font-size: 18px;
    margin: 0 15px;
}

.dark {
    background-color: #23272a;
    color: white;
}
/* /jumbotron */

/* /header */


/* main */
main {
    /* debug */
    height: 500px;
    background-color: blueviolet;
}

.img-main {
    height: 100%;
    width: 100%;
}
.column-left {
    float: left;
    width: 50%; 
}



.column-right {
    float: left;
    width: 50%;

      /* debug */
      background-color: tomato;
      height: 200px;

}





/* /main */

/* footer */
footer {
    height: 700px;
    background-color: #23272a;
}

aside {
    float: left;
    padding: 65px 0 40px;
}

/* colonna 1 */
#colonna-1 {
    width: 28%;  
}

.columns {
    width: 18%;
}

#colonna-1 h3{
    font-size: 40px; 
    color: rgb(103, 88, 241);
    margin-bottom: 30px;
}

#colonna-1 span {
    color: white;
    font-size: 16px;
}

#colonna-1 img {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.fa-chevron-down {
    font-size: 16px;
    color: white;
}

.social {
    font-size: 25px;
    color: white;
    margin: 30px 20px 0 0;
}
/* /colonna 1 */


/* colonne 1 2 3 4 */
.titolo-column {
    color: rgb(103, 88, 241);
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

.list-items {
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
    list-style-type: none;
    margin: 20px 0 20px 0;
}

/* fondo pagina  */
#fondo-pag {
    border-top: solid 1px rgb(103, 88, 241);
    padding: 20px 0 ;
    position: relative;
}

.registrati {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: rgb(103, 88, 241);
    color: white;
    padding: 7px 16px;
}
/* /fondo pagina  */


/* /footer */
