* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.centratura {
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    height: 70vh;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
} 


/* nav */
nav img { 

}
/* /nav */

/* /header */



main {
    /* debug */
    height: 500px;
    background-color: blueviolet;
}

footer {
    height: 100vh;
    /* debug */
    background-color: black;
}